.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
  max-width: 80vw;
  width: 50vw;
  margin: 0 auto;
}

.text {
  font-size: 52px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(to right, red, blue);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 600px) {
  .main {
    width: 100%;
  }
}
